[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
python-dotenv = "*"
channels = "==3.0.5"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
